.accordion-section {
    .accordion-set {
        &.active {
            >.accordion {
                background-color: #f7faf1;
                .col-3 {
                    .date-arrow {
                        &::after {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            .accordion-toggle {
                max-height: 290px;
                overflow: auto;
                .col-1 {
                    background-color: #f4f6f8;
                }
            }
        }
        .accordion-toggle {
            max-height: 0;
            overflow: hidden;
            border: 1px solid #e3e8e5;
            border-top: 0;
            border-bottom: 0;
            transition: all ease-in-out .4s;
        }
    }
    .accordion {
        display: flex;
        transition: all .5s;
        .col {
            padding: 10px 0;
            flex: 1 1 auto;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            color: $black;
            border-bottom: 1px solid #e3e8e5;
            &.col-1 {
                display: flex;
                justify-content: center;
                flex: 0 0 122px;
                align-items: center;
            }
            &.col-2 {
                padding: 13px 20px;
                text-align: left;
            }
            &.col-3 {
                flex: 0 0 200px;
                width: 200px;
                .date-arrow {
                    position: relative;
                    display: inline-block;
                    position: relative;
                    padding: 0 50px;
                    &::after {
                        display: block;
                        content: "";
                        width: 10px;
                        height: 6px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -3px;
                        @include backgroundImg(arrow_arrcodion);
                        transform: rotate(180deg);
                    }
                }
                .user-data {
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    max-width: 200px;
                    span {
                        overflow: hidden;
                        width: 100%;
                        max-width: 200px;
                        display: block;
                        line-height: 21px;
                    }
                }
            }
            .btn-group {
                display: flex;
                button {
                    @include btn;
                    >span {
                        position: relative;
                        color: $white;
                    }
                    &+button {
                        margin-left: 10px;
                        background-color: $orange;
                        >span {
                            position: relative;
                            color: $white;
                        }
                    }
                }
                &.center {
                    justify-content: center;
                }
                &+.user-data {
                    margin-top: 20px;
                }
            }
        }
        &.accordion-header {
            background-color: #f4f6f8;
            border-top: 1px solid #e3e8e5;
            .col {
                font-weight: 700;
                &.col-2 {
                    text-align: center;
                }
            }
        }
        &.active {
            background-color: #f7faf1;
        }
    }
    .text-box {
        padding: 2px 0;
        .pic {
            position: relative;
            >span {
                display: block;
                position: relative;
                >img {
                    max-width: 70px;
                }
                .img-cont {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    color: $white;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            &+.icon-file {
                margin-top: 17px;
            }
        }
        .text {
            color: $gray;
            font-size: 14px;
            line-height: 20px;
            &+.pic {
                margin-top: 18px;
            }
            &+.icon-file {
                margin-top: 15px;
            }
        }
    }
    .no-result {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-height: 150px;
        border-bottom: 1px solid #e3e8e5;
    }
}