$black :#333;
$black2 :#000;
$gray: #6c716b;
$gary2 :#818980;
$gary3 :#e4e8e5;
$gary4 :#e9ece9;
$orange:#fda601;
$white :#fff;
$green :#8fc31f;
$red:#ec2b2b;
$disabled :#a6a7a8;
$border-base:rgba(211, 218, 211, 0.5);