//icon
.file-wrapper {
    width: auto;
    min-width: 550px;
    .input.view.file-add {
        display: inline-block;
        margin-left: 0;
    }
    button {
        &+.file-group {
            margin-top: 5px;
        }
    }
}

.icon-file {
    display: block;
    padding-left: 16px;
    @include backgroundImg(icon_file_green, $pos: left center);
    font-size: 14px;
    line-height: 21px;
    >span {
        position: relative;
        color: $gary2;
        span {
            color: $gary2;
        }
    }
    &+.icon-file {
        margin-top: 3px;
    }
    .remove {
        display: inline-block;
        position: relative;
        width: 14px;
        height: 14px;
        margin-left: 20px;
        vertical-align: baseline;
        @include backgroundImg(icon_remove, $pos: center 4px);
        cursor: pointer;
    }
}