@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-wrapper {
    // display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    &.solo {
        position: absolute;
        .loading-text {
            display: none;
        }
    }
    >div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &.no-text {
        .loading-text {
            display: none;
        }
    }
    .loading-text {
        margin-top: 10px;
        color: $white;
        animation: loading linear 0.8s infinite;
    }
    &.medium {
        .loading {
            width: 115px !important;
            height: 115px !important;
            -webkit-transform: translate(-57.5px, -57.5px) scale(0.575) translate(57.5px, 57.5px);
            transform: translate(-57.5px, -57.5px) scale(0.575) translate(57.5px, 57.5px);
        }
    }
    &.small {
        .loading {
            width: 29px !important;
            height: 29px !important;
            -webkit-transform: translate(-14.5px, -14.5px) scale(0.145) translate(14.5px, 14.5px);
            transform: translate(-14.5px, -14.5px) scale(0.145) translate(14.5px, 14.5px);
        }
        .loading-text {
            font-size: 10px;
        }
    }
}

.loading {
    position: relative;
}

.loading div {
    left: 94px;
    top: 20px;
    position: absolute;
    -webkit-animation: loading linear 1s infinite;
    animation: loading linear 1s infinite;
    background: $orange;
    width: 12px;
    height: 40px;
    border-radius: 50%;
    -webkit-transform-origin: 6px 80px;
    transform-origin: 6px 80px;
}

.loading div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.916666666666667s;
    animation-delay: -0.916666666666667s;
}

.loading div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -0.833333333333333s;
    animation-delay: -0.833333333333333s;
}

.loading div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.loading div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
}

.loading div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.583333333333333s;
    animation-delay: -0.583333333333333s;
}

.loading div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.loading div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.416666666666667s;
    animation-delay: -0.416666666666667s;
}

.loading div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
}

.loading div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.loading div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.166666666666667s;
    animation-delay: -0.166666666666667s;
}

.loading div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.083333333333333s;
    animation-delay: -0.083333333333333s;
}

.loading div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loading {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.relative {
    position: relative !important;
}