@mixin backgroundImg($url, $pos:center center, $repeat:no-repeat) {
    background-image: url("../images/#{$url}.png");
    background-position: $pos;
    background-repeat: $repeat;
}

@mixin btn($width:72px,
$bgColor:null,
$color:$white,
) {
    width: $width;
    padding: 8px 0;
    text-align: center;
    color: $color;
    border-radius: 10px;
    cursor: pointer;
    @if $bgColor==yellow2 {
        background-color: $orange;
    }
    @else {
        background-color: $gray;
    }
}