.pop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($black2, 0.7);
    z-index: 20;
    .pop-box {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 940px;
        min-height: 540px;
        background-color: $white;
        border-radius: 10px;
        &.height-678 {
            min-height: 618px;
            .pop-cont {
                min-height: 618px;
            }
        }
        &.height-387 {
            min-height: 387px;
            .pop-cont {
                height: 327px;
            }
        }
        &.width-936 {
            max-width: 936px;
        }
        &.width-1102 {
            max-width: 1102px;
        }
        .pop-close {
            position: absolute;
            right: 22px;
            top: 21px;
            width: 20px;
            height: 21px;
            @include backgroundImg(btn_pop_close, $pos: center 0);
        }
    }
    .pop-tit {
        padding: 16px 20px;
        background-color: $green;
        font-size: 20px;
        line-height: 28px;
        color: $white;
        font-weight: 500;
        border-radius: 10px 10px 0 0;
    }
    .pop-cont {
        display: flex;
        align-content: center;
        width: 100%;
        height: 480px;
        max-height: 480px;
        padding: 30px 40px;
        background-color: $white;
        border-radius: 0 0 10px 10px;
        &.padding-20 {
            padding: 20px;
        }
    }
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slide-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    ul {
        li {
            display: none;
            &.active {
                display: block;
                >img {
                    width: auto;
                    max-width: 600px;
                    height: auto;
                    max-height: 420px;
                }
            }
        }
    }
    .control-btn {
        display: flex;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        margin-top: -16px;
        button {
            position: absolute;
            left: -30px;
            top: 0;
            width: 18px;
            height: 36px;
            @include backgroundImg(btn_slide);
            &+button {
                left: auto;
                right: -30px;
                transform: rotate(180deg);
            }
        }
        &.hidden {
            display: none;
        }
    }
}

.detail-list-wrap {
    width: 100%;
    &.col {
        display: flex;
        .city-box {
            &+.table-list {
                width: 100%;
                margin-left: 20px;
            }
            .city-model {
                display: table;
                width: 100%;
                margin-top: 10px;
                border: 1px solid $gary4;
                border-radius: 10px;
                .th,
                .td {
                    display: table-cell;
                    height: 41px;
                    vertical-align: middle;
                }
                .th {
                    background-color: #eaeef1;
                    font: {
                        size: 16px;
                        weight: 600;
                    }
                    text-align: center;
                    border-radius: 10px 0 0 10px;
                }
                .td {
                    font-size: 14px;
                    padding: 5px 5px 5px 20px;
                    border-radius: 0 10px 10px 0;
                }
            }
        }
        .table-list {
            .column {
                min-height: 16px;
                .country-wrap {
                    margin-top: 0;
                }
                .right {
                    a {
                        font-size: 14px;
                        line-height: 16px;
                        &.active {
                            color: $green;
                        }
                        &+a::before {
                            display: inline-block;
                            content: "";
                            width: 1px;
                            height: 12px;
                            margin-left: 10px;
                            margin-right: 10px;
                            background-color: #e4e8e5;
                        }
                    }
                }
            }
        }
    }
    .list-wrap {
        margin-bottom: 20px;
        &.filter {
            ul {
                li {
                    width: calc(20% - 15px);
                }
            }
        }
        >ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            li {
                display: flex;
                position: relative;
                align-items: center;
                width: calc(25% - 15px);
                padding: 16px;
                color: $white;
                border-radius: 10px;
                >img {
                    margin-right: 15px;
                }
                .status {
                    p {
                        color: #fff;
                        font-size: 14px;
                        line-height: 16px;
                        &.number {
                            font-size: 24px;
                            line-height: 26px;
                        }
                        &+p {
                            margin-top: 10px;
                            font-weight: 300;
                        }
                    }
                }
                &.gray2 {
                    background-color: #6c716b;
                }
                &.green {
                    background-color: $green;
                }
                &.blue {
                    background-color: #0faafa;
                }
                &.gray {
                    background-color: #9fa69e;
                }
                &.orange {
                    background-color: #fdad01;
                }
                &.red {
                    background-color: #f94439;
                }
            }
        }
    }
}