.tree-wrap {
    width: 100%;
    .btn-create {
        width: 100%;
        padding: 12px 0;
        border: 1px solid #8fc31f;
        color: #8fc31f;
        font-size: 14px;
        line-height: 16px;
        border-radius: 10px;
        cursor: pointer;
        span {
            display: inline-block;
            padding-left: 20px;
            color: inherit;
            background: url(../images/bg_plus.png) no-repeat left center;
        }
        &[data-css="add2"] {
            width: 260px;
            height: 27px;
            padding: 4px 0;
        }
    }
}

.tree-menu {
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100% - 40px);
    max-height: 608px;
    $icons: (jstree-node: folder, jstree-leaf: file, );
    @each $class,
    $icon in $icons {
        li.#{$class} {
            a {
                background: url(../images/icon_tree_#{$icon}.png) no-repeat left center;
            }
        }
    }
    .jstree-container-ul {
        >li {
            &+li {
                margin-top: 14px;
            }
        }
        .jstree-node {
            position: relative;
            padding-left: 26px;
            .jstree-ocl {
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 18px;
                background: url(../images/bg_tree_close.png) no-repeat left center;
            }
            &.jstree-open {
                .jstree-ocl {
                    background: url(../images/bg_tree_open.png) no-repeat left center;
                }
            }
            &.jstree-leaf {
                padding-left: 0;
                .jstree-ocl {
                    display: none;
                }
                .addBtn {
                    background: 0;
                    padding-left: 0;
                }
            }
        }
    }
    .jstree-children {
        padding-top: 14px;
        li {
            &+li {
                margin-top: 14px;
            }
        }
    }
    .jstree-anchor {
        position: relative;
        padding-left: 22px;
        font-size: 16px;
        line-height: 18px;
        color: #333;
        &.jstree-clicked {
            color: #8fc31f;
        }
    }
}

.relative {
    position: relative;
    .btn-tree-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
}