@charset 'UTF-8';
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans CJK KR Thin'), url(../fonts/NotoSansCJKkr-Thin.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Thin.woff) format('woff')
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans CJK KR Light'), url(../fonts/NotoSansCJKkr-Light.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Light.woff) format('woff')
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK KR Regular'), url(../fonts/NotoSansCJKkr-Regular.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Regular.woff) format('woff')
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK KR Medium'), url(../fonts/NotoSansCJKkr-Medium.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Medium.woff) format('woff')
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans CJK KR Bold'), url(../fonts/NotoSansCJKkr-Bold.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Bold.woff) format('woff')
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #333;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'NotoSans';
    font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    width: 1920px;
    letter-spacing: -0.2px;
}

body.body-login {
    width: 100%;
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

a {
    text-decoration: none;
    color: inherit
}

input,
button {
    margin: 0;
    padding: 0 10px;
    border: none;
    outline: none;
    letter-spacing: -0.2px;
    background: none;
    box-sizing: border-box;
    text-align: center;
    -webkit-appearance: none
}

label {
    display: inline-block;
    vertical-align: middle
}

button {
    cursor: pointer;
}

img {
    vertical-align: top
}

address {
    font-style: normal
}

textarea {
    resize: none;
    font-family: inherit;
    outline: none
}