@charset "utf-8";
@import "color";
@import "mixin";
@import "common";
@import "tree";
@import "accordion";
@import "pop";
@import "loading";
input[type="text"]::-ms-clear {
    display: none;
}

a:active,
a:hover,
a:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track:horizontal {
    background: rgba(237, 237, 237, 0.4);
}

::-webkit-scrollbar-thumb {
    background: rgb(211, 218, 211);
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

// common
.mtop-10 {
    margin-top: -10px !important;
}

.mtop5 {
    margin-top: 5px !important;
}

.mtop10 {
    margin-top: 10px !important;
}

.mtop20 {
    margin-top: 20px !important;
}

.mtop30 {
    margin-top: 30px !important;
}

.mbottom10 {
    margin-bottom: 10px !important;
}

.mbottom20 {
    margin-bottom: 20px !important;
}

.mbottom30 {
    margin-bottom: 30px !important;
}

.text-disabled {
    color: $disabled;
    font-size: 14px;
    &.point::before {
        content: "*";
        display: inline-block;
        width: 5px;
        height: 14px;
        line-height: 14px;
        vertical-align: middle;
        padding-right: 10px;
        text-align: left;
        color: $disabled;
    }
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    color: #232425;
}

.body {
    overflow: auto;
    width: calc(100% - 288px);
    height: calc(100vh - 70px);
    margin: 0 0 0 288px;
    background: #f4f6f8;
}

.contents {
    position: relative;
    min-width: 1221px;
    width: 100%;
    height: 100%;
    padding: 20px 30px 60px;
}

.header {
    display: flex;
    height: 70px;
    padding-left: 288px;
    line-height: 70px;
    text-align: center;
    background-color: #434f54;
    color: #d5d8cd;
}

.header h1 {
    margin-left: 30px;
    font-size: 14px;
}


/* alarm-center */

.alarm-center {
    position: absolute;
    right: 70px;
    top: 80px;
    width: 370px;
    z-index: 20;
    line-height: 1;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3019607843);
    transform: scale(1, 0);
    transform-origin: 0 0;
    transition: 0.15s linear;
}

.alarm-center.inner {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    margin-top: 10px;
    transform: scale(1, 1);
    box-shadow: none;
    z-index: 2;
}

.alarm-center.on {
    transform: scale(1, 1);
}

.alarm-top,
.alarm-middle {
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.alarm-top p {
    font-size: 16px;
    color: $black;
    line-height: 24px;
}

.alarm-top .icon-refresh {
    display: block;
    width: 14px;
    height: 15px;
    margin-left: 6px;
    @include backgroundImg(icon_refresh, $pos: 0 0);
    background-size: 14px 15px;
}

.alarm-middle {
    padding: 6px 20px;
    border-top: 1px solid rgba(150, 150, 150, 0.3019607843);
    border-bottom: 1px solid rgba(150, 150, 150, 0.3019607843);
    font-size: 12px;
}

.alarm-top .alarm-close {
    width: 16px;
    height: 16px;
    margin-left: auto;
    @include backgroundImg(popup_close2, $pos: 0 0);
    background-size: 16px;
}

.alarm-middle p::after {
    content: "";
    display: inline-flex;
    width: 1px;
    height: 11px;
    margin: 0 6px;
    opacity: 0.7;
    background: $black;
    vertical-align: middle;
}

.alarm-center .alarm-confirm {
    width: auto;
    height: 24px;
    margin-left: auto;
    padding: 0 0 0 17px;
    @include backgroundImg(icon_confirm, $pos: 0 50%);
    background-size: 14px;
    line-height: 24px;
    color: #7f8589;
    transition: 0.15s;
}

.alarm-bottom {
    overflow: auto;
    max-height: 450px;
}

.alarm-center .alarm-confirm:hover {
    color: $black;
    @include backgroundImg(icon_confirm_on, $pos: 0 50%);
    background-size: 14px;
}

.alarm-list {
    position: relative;
    height: 90px;
    padding-left: 70px;
}

.alarm-list .alarm-status {
    position: absolute;
    left: 20px;
    top: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: $white;
    font-size: 14px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.alarm-list:nth-child(even) {
    background: rgba(192, 210, 211, 0.1490196078);
}

.inner .alarm-list:nth-child(even) {
    background: none;
}

.inner .alarm-list {
    border: 1px solid $gary3;
}

.inner .alarm-list+.alarm-list {
    border-top: none;
}

.alarm-contents {
    padding: 8px 10px 8px 0;
    font-size: 12px;
    text-align: left;
}

.alarm-contents .title {
    font-size: 14px;
    color: $black;
    line-height: 20px;
}

.alarm-contents .alarm-info {
    line-height: 24px;
}

.alarm-dates {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.alarm-dates p {
    color: $black2;
    line-height: 24px;
}

.alarm-dates .btn {
    margin-left: 6px;
}

.inner .alarm-dates a {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12px;
}

.alarm-dates a {
    display: block;
    margin-left: auto;
    color: $black2;
    line-height: 24px;
}

.alarm-dates a::after {
    content: "\203A";
    margin-left: 4px;
    font-size: 18px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.danger .alarm-status {
    background: rgba(239, 45, 23, 0.7529411765);
}

.danger .alarm-info {
    color: #d82410;
    font-weight: 700;
}

.warning .alarm-status {
    background: rgba(240, 204, 24, 0.8);
}


/* snb */

.snb {
    display: flex;
    align-items: center;
    height: 70px;
    margin-left: auto;
    margin-right: 20px;
    .alert {
        position: relative;
    }
}

.snb .user {
    position: relative;
    p {
        padding: 0 20px 0 0;
        font-size: 14px;
        color: #d3dad3;
        background: {
            image: url(../images/bg_select.png);
            repeat: no-repeat;
            position: calc(100% - 5px) 50%;
            size: 11px 6px;
        }
        ;
    }
    >ul {
        display: none;
        position: absolute;
        right: -20px;
        top: 100%;
        width: 100px;
        color: $black;
        background-color: $white;
        box-shadow: 1px 2px 3px 1px rgba(192, 192, 192, 0.29);
        font-size: 14px;
        line-height: 20px;
        border-radius: 10px;
        a {
            color: currentColor
        }
    }
    &:hover,
    &.on {
        ul {
            display: block;
        }
    }
}

.snb>li:first-child::before {
    display: none;
}

.snb>li::before {
    content: "";
    display: inline-flex;
    width: 1px;
    height: 22px;
    margin: 0 20px;
    background: #d3dad3;
    vertical-align: middle;
}

.snb a {
    padding: 2px 0;
    color: #d5d8cd;
}

.snb .lang {
    display: inline-flex;
    vertical-align: middle;
}

.snb .lang a {
    font-weight: 700;
    color: #929293;
}

.snb .lang a.on {
    color: #d5d8cd;
}

.snb .lang a+a::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 6px 0 6px;
    background: #6d6d6e;
    vertical-align: middle;
    border-radius: 3px;
}

.snb .alert>a {
    display: inline-flex;
    position: relative;
    padding: 2px 0 23px 34px;
    background: url(../images/icon_alert.png) no-repeat 50% 50% / 21px 24px;
    vertical-align: middle;
}

.snb .alert {
    &.on {
        .header-box {
            display: block;
        }
    }
}

.snb .alert.on>a::after {
    content: attr(data-alert);
    position: absolute;
    right: 8px;
    top: 0;
    width: 6px;
    height: 6px;
    background: $green;
    border-radius: 4px;
}

.snb .logout>a {
    display: inline-flex;
    padding: 4px 0 23px 32px;
    vertical-align: middle;
    background: url(../images/icon_logout.png) no-repeat 50% 50% / 23px 24px;
}


/* lnb */

.lnb {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    background: #434f54;
    z-index: 20;
}

.logo {
    display: block;
    width: 288px;
    height: 70px;
    padding: 10px 29px 10px;
    background: #434f54;
    text-align: center;
}

.logo img {
    width: 113px;
    height: auto;
    object-fit: contain;
}

.nav {
    display: flex;
    height: calc(100% - 70px);
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav>li {
    position: relative;
    width: 100%;
}

.nav>li:first-child {
    margin-top: 0;
}

.nav>li>a {
    display: block;
    width: 100%;
    padding: 20px 0 20px 63px;
    line-height: 20px;
    background-repeat: no-repeat;
    transition: all 0.25s;
    text-align: left;
    background-position: 31px 19px, 249px 27px;
}

.nav>li>a>span {
    color: #cbcbcb;
    font-size: 16px;
}

.nav>li>ul>li>a {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 63px;
    line-height: 20px;
}

.nav>li>a+ul {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s;
}

.nav>li.on>a+ul {
    max-height: 100vh;
    transition: all 1s;
}

.nav {
    white-space: nowrap;
}

.nav>ul>li {
    padding: 0;
}

.nav>ul>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 62px;
    padding: 0 20px 0 18px;
    line-height: 62px;
    color: $white;
}

.nav>ul>li>a>span {
    visibility: visible;
    height: auto;
    margin-left: 8px;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.15s 0.1s, -webkit-transform;
    transition: opacity 0.15s 0.1s, -webkit-transform;
    transition: transform, opacity 0.15s 0.1s;
    transition: transform, opacity 0.15s 0.1s, -webkit-transform;
}

.nav>ul>li.on>a,
.nav>ul>li:hover>a {
    background-color: $green;
}

.nav>ul li.active>ul {
    max-height: 100vh;
}

.nav>ul li.active>ul li.on>span::before {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav>li.nav-dash>a {
    background-image: url(../images/nav_dash.png);
}

.nav>li.nav-manage>a {
    background-image: url(../images/nav_manage.png), url(../images/nav_arrow.png);
}

.nav>li.nav-hist>a {
    background-image: url(../images/nav_hist.png), url(../images/nav_arrow.png);
}

.nav>li.nav-stati>a {
    background-image: url(../images/nav_stati.png), url(../images/nav_arrow.png);
}

.nav>li.nav-custom>a {
    background-image: url(../images/nav_custom.png), url(../images/nav_arrow.png);
}

.nav>li.nav-fota>a {
    background-image: url(../images/nav_fota.png), url(../images/nav_arrow.png);
}

.nav>li.nav-admin>a {
    background-image: url(../images/nav_admin.png), url(../images/nav_arrow.png);
}

.nav>li.nav-operation-management>a {
    background-image: url(../images/nav_operation_management.png), url(../images/nav_arrow.png);
}

.nav>li>ul>li>a>span {
    color: #d3dad3;
    font-size: 14px;
}

.nav>li>ul>li>a {
    background-image: url(../images/nav_2depth.png);
    background-position: 37px 15px;
    background-repeat: no-repeat;
}

.nav>li>ul.depth2>li>a>span {
    color: #d3dad3;
    font-size: 14px;
    font-weight: 400;
}


/* on */

.nav>li.on>a>span {
    color: $green;
}

.nav>li.nav-dash.on>a {
    background-image: url(../images/nav_dash_on.png);
}

.nav>li.nav-manage.on>a {
    background-image: url(../images/nav_manage_on.png), url(../images/nav_arrow_on.png);
}

.nav>li.nav-hist.on>a {
    background-image: url(../images/nav_hist_on.png), url(../images/nav_arrow_on.png);
}

.nav>li.nav-stati.on>a {
    background-image: url(../images/nav_stati_on.png), url(../images/nav_arrow_on.png);
}

.nav>li.nav-custom.on>a {
    background-image: url(../images/nav_custom_on.png), url(../images/nav_arrow_on.png);
}

.nav>li.nav-fota.on>a {
    background-image: url(../images/nav_fota_on.png), url(../images/nav_arrow_on.png);
}

.nav>li.nav-admin.on>a {
    background-image: url(../images/nav_admin_on.png), url(../images/nav_arrow_on.png);
}

.nav>li.nav-operation-management.on>a {
    background-image: url(../images/nav_operation_management_on.png), url(../images/nav_arrow_on.png);
}

.nav>li>ul>li.on>a {
    background-image: url(../images/nav_2depth_on.png);
}

.nav>li>ul>li.on>a>span {
    color: $green;
}


/* login */

.login-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(../images/bg_login.png) no-repeat right bottom #eff2e8;
    background-size: auto;
    .type2 {
        background: #eef4f9;
    }
}

.login {
    display: block;
    position: relative;
    width: 100%;
    max-width: 634px;
    height: 554px;
    padding: 0 93px;
    text-align: center;
    background: $white;
    border-radius: 20px;
    box-shadow: 5px 13px 14px 0 rgba(154, 167, 189, 0.2);
    color: #202020;
    >h1 {
        margin: 43px 0 46px;
        color: $green;
        font-weight: 900;
        img {
            width: 293px;
        }
    }
    input {
        display: block;
        width: 100%;
        height: 50px;
        margin: 0 auto 10px;
        padding: 16px 20px 10px 45px;
        border: 1px solid #d3dad3;
        border-radius: 10px;
        box-shadow: 0 0 2px 0 rgba(215, 227, 241, 0.5019607843);
        text-align: left;
        font-size: 18px;
        &[type="text"] {
            background: url("../images/icon_login_id.png") no-repeat 20px 17px;
            &:hover,
            &:focus {
                background: url("../images/icon_login_id_on.png") no-repeat 20px 17px;
            }
            &::placeholder {
                color: #959ca7;
                font-size: 16px;
            }
        }
        &[type="password"] {
            background: url("../images/icon_login_pw.png") no-repeat 20px 17px;
            &:hover,
            &:focus {
                background: url("../images/icon_login_pw_on.png") no-repeat 20px 17px;
            }
            &::placeholder {
                color: #959ca7;
                font-size: 16px;
            }
        }
    }
    .flex {
        display: flex;
        justify-content: space-between;
        a {
            &+a::before {
                content: "";
                width: 2px;
                height: 15px;
                margin: 6px 6px 0 3px;
                background: #232425;
                opacity: 0.7;
            }
            .checkbox>span {
                color: $gary2;
                font-size: 14px;
            }
        }
    }
    .btn-login {
        display: block;
        width: 100%;
        height: 50px;
        margin: 28px 0 10px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.2px;
        background: $green;
        color: $white;
        border-radius: 10px;
        cursor: pointer;
    }
    .login-text {
        margin: 0 auto 12px;
        color: $gary2;
        font-size: 16px;
        letter-spacing: -0.5px;
    }
}

.consulting {
    width: 340px;
    height: 24px;
    margin: 0 auto;
    padding-left: 23px;
    background: url(../images/icon_cons.png) no-repeat 0 50% / 16px;
    line-height: 24px;
    text-align: left;
    &>span {
        display: inline-flex;
        margin-top: 0;
        vertical-align: -2px;
    }
}

.login-wrapper.type2 {
    .login {
        border-radius: 0;
        border: none;
        box-shadow: none;
        &.left {
            display: block;
            border-right: 1px solid #e3e3e3;
        }
    }
    .logo-login {
        display: none;
    }
    h1 {
        margin-top: 82px;
    }
}

.login .link {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto 46px;
    background: $green;
    color: $white;
    border-radius: 5px;
}

.login .link img {
    width: 8px;
    height: 14px;
    vertical-align: -1px;
}

.login .login-img {
    display: block;
    width: 371px;
    height: 246px;
    margin: 0 auto;
}

.login-title {
    font-size: 28px;
    line-height: 41px;
    font-weight: 600;
}

.login.left {
    padding-top: 84px;
}

.login-wrapper .lang {
    width: 100%;
    margin-top: 28px;
    >a {
        font-weight: 700;
        color: $gary2;
        &.on {
            color: $green;
        }
    }
}

.login-wrapper .lang>a+a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 11px 0 5px;
    background: #d3dad3;
    vertical-align: 0;
}

.contents {
    .contents-title {
        position: relative;
        height: 25px;
        margin: 0 0 15px;
        line-height: 21px;
        font-size: 18px;
        font-weight: 700;
    }
    .lnb-route {
        position: absolute;
        top: 22px;
        right: 32px;
        >ul {
            li {
                float: left;
                padding-left: 8px;
                .home {
                    overflow: hidden;
                    display: block;
                    width: 16px;
                    height: 18px;
                    text-indent: -999999px;
                    @include backgroundImg(icon_home,
                    $pos: 0 3px);
                }
                >a {
                    margin-left: 4px;
                    line-height: 15px;
                    font-weight: 300;
                    color: #818980;
                    font-size: 12px;
                }
                &::before {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 10px;
                    @include backgroundImg(icon_top_arrow,
                    $pos: 0 0);
                }
                &:first-child {
                    &::before {
                        content: "";
                        display: none;
                    }
                }
            }
        }
    }
    .inner-title {
        margin: 0 0 5px;
        color: $black;
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        letter-spacing: -0.2px;
        &.type2 {
            margin: 0;
            padding: 9px 20px;
            border-bottom: 1px solid #e9ece9;
        }
        &.type3 {
            margin: 0;
            padding: 12px 20px;
            border-bottom: 1px solid #e9ece9;
        }
    }
    .reset {
        position: absolute;
        top: 13px;
        right: 20px;
        width: 23px;
        height: 23px;
        @include backgroundImg(icon_reset,
        $pos: 0 0);
    }
    .box {
        position: relative;
        margin: 0 0 20px;
        padding: 20px;
        background: $white;
        border-radius: 10px;
        border: 1px solid #eaecee;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0470588235);
        &.type2 {
            padding: 0;
            height: auto;
        }
        &.type3 {
            padding: 20px 20px 0;
        }
        &.type4 {
            height: 100%;
            padding: 0;
            .box-contens {
                padding: 20px 20px 0 20px;
            }
            &.height-auto {
                height: auto;
            }
            &.full {
                width: 100%;
            }
        }
    }
    .layout-accrodion {
        position: relative;
        border-top: 1px solid #d3dad3;
        margin-top: 24px;
        padding: 23px 0 0;
        >a {
            position: absolute;
            width: 32px;
            height: 32px;
            top: -17px;
            left: 50%;
            margin-left: -23px;
            &::before {
                content: "";
                display: block;
                width: 32px;
                height: 32px;
                width: 100%;
                @include backgroundImg(icon_detail_accordion);
                transform: rotate(180deg);
            }
        }
        .layout-accrodion-box {
            display: none;
            transition: all 4s;
        }
        &.active {
            a {
                &::before {
                    transform: rotate(360deg);
                }
            }
            .layout-accrodion-box {
                display: block;
                transition: all 10s;
            }
        }
        &.type02 {
            margin-top: 4px;
        }
    }
    .flex {
        display: flex;
        .box-left {
            width: 100%;
            flex-shrink: 0;
            &.width-430 {
                max-width: 430px;
            }
            &.width-521 {
                max-width: 521px;
            }
            &.width-504 {
                max-width: 504px;
                &+.width-504 {
                    margin-left: 20px;
                }
            }
            &.width-746 {
                max-width: 746px;
            }
            &.width-766 {
                max-width: 766px;
            }
            &+.box-right {
                margin-left: 20px;
            }
        }
        .box-right {
            width: 100%;
            .column+.column {
                margin-top: 20px;
            }
        }
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.button-group-wrapper {
    display: flex;
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
}

.margin-top20 {
    margin-top: 20px;
}

.button-group {
    display: flex;
    &.left {
        position: absolute;
        left: 0;
        top: 10px
    }
    &.right {
        margin-left: auto;
    }
    &.center {
        justify-content: center;
    }
}

.contents.disappear {
    .btn-tree-toggle {
        right: auto;
        left: -30px;
    }
    .left {
        position: absolute;
        >.box {
            overflow: hidden;
            width: 0;
            opacity: 0;
        }
    }
    .right {
        width: calc(100% - 30px);
        margin-left: 0;
        padding-right: 0;
    }
}


/* common */

.btn {
    display: inline-block;
    width: auto;
    min-width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: $white;
    cursor: pointer;
    vertical-align: middle;
    line-height: 39px;
    background-color: $green;
    text-align: center;
    >span {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: $white;
    }
}

.btn+.btn {
    margin-left: 10px;
}

.input+.btn {
    margin-left: 20px;
}

.box.full .input+.btn {
    margin-left: 10px;
}

// 20180802 .btn.search 수정
.btn.search {
    width: auto;
    min-width: 90px;
    padding-left: 36px;
    background-color: $green;
    background-size: 16px;
    @include backgroundImg(icon_search,
    $pos: 20px 50%);
    // background: $green url(../images/icon_search.png) no-repeat 20px 50% / 16px;
    font-size: 14px;
    color: $white;
    &.width-140 {
        min-width: 140px;
        background-position: 25% 50%;
    }
    &.normal {
        width: 140px;
        padding-left: 28px;
        background-color: $green;
        background-size: 16px;
        @include backgroundImg(icon_search,
        $pos: 20px 56%);
    }
}

.btn.mini {
    width: auto;
    min-width: 64px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
}

.btn.little {
    width: 72px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    &.type02 {
        width: auto;
        min-width: 110px;
    }
}

.btn.small {
    min-width: 90px;
    font-size: 14px;
}

.btn.white {
    color: $green;
    border: 1px solid $green;
    background-color: $white;
    >span {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: $green;
    }
    &:hover {
        color: $white;
        border: 1px solid $green;
        background-color: $green;
        >span {
            color: $white;
        }
    }
}

.btn.gray {
    background-color: #6d716c;
    >span {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: $white;
    }
}

.btn.darkgray {
    background-color: #434f54;
    >span {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: $white;
    }
}

.btn.orange {
    color: $white;
    background-color: #fca600;
    &.white {
        background-color: $white;
        border: 1px solid #fca600;
        color: #fca600;
        &:hover {
            background-color: #fca600;
            color: $white;
        }
    }
    >span {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: $white;
    }
}

.btn.black {
    border: 1px solid #434f54;
    background-color: $white;
    &:hover {
        background-color: #434f54;
        >span {
            color: $white;
        }
    }
    >span {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        color: #434f54;
    }
}

.btn.excel {
    cursor: pointer;
    background: {
        position: 14px 11px;
        repeat: no-repeat;
    }
    ;
    &.export {
        background-image: url(../images/icon_excel_export.png);
    }
    &.import {
        background-image: url(../images/icon_excel_import.png);
    }
    >span {
        padding-left: 20px;
    }
    &:hover {
        &.export {
            background-image: url(../images/icon_excel_export_on.png);
        }
        &.import {
            background-image: url(../images/icon_excel_import_on.png);
        }
    }
}

.btn.download {
    width: 97px;
    height: 26px;
    padding-left: 22px;
    font-size: 14px;
    color: $green;
    border: 1px solid $green;
    @include backgroundImg(icon_download,
    $pos: 22px 7px);
    background-color: $white;
    >span {
        color: $green;
    }
    &:hover,
    &.on {
        color: $white;
        @include backgroundImg(icon_download_on,
        $pos: 22px 7px);
        background-color: $green;
        >span {
            color: $white;
        }
    }
    &.type02 {
        border: 0;
        @include backgroundImg(icon_download02);
        background-color: transparent;
        padding-left: 0;
        min-width: 50px;
        &:hover,
        &.on {
            @include backgroundImg(icon_download02);
            background-color: transparent;
        }
    }
}

.btn.add {
    padding-left: 28px;
    background: {
        image: url(../images/btn_plus.png);
        repeat: no-repeat;
        position: 21px 50%;
        size: 15px;
    }
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    &.normal {
        background-position: 48px 50%;
    }
}

.btn.all-control {
    position: relative;
    width: auto;
    min-width: 110px;
    padding-right: 27px;
    span {
        &.ko {
            &::before {
                content: "전체 펼침";
            }
        }
        &.en {
            &::before {
                content: "Open All";
            }
        }
        font-size: 14px;
        &::after {
            display: block;
            content: "";
            position: absolute;
            right: -9px;
            top: 13px;
            width: 10px;
            height: 6px;
            @include backgroundImg(icon_list_all);
            transform: rotate(180deg);
        }
    }
    &:hover {
        background-color: $white;
        color: $green;
        >span {
            color: $green;
        }
    }
    &.active {
        >span {
            &.ko {
                &::before {
                    content: "전체 닫힘";
                }
            }
            &.en {
                &::before {
                    content: "Close All";
                }
            }
            &::after {
                display: block;
                content: "";
                position: absolute;
                right: -9px;
                top: 13px;
                width: 10px;
                height: 6px;
                @include backgroundImg(icon_list_all);
                transform: rotate(360deg);
            }
        }
    }
}

.list-accordion,
.list-accordion-type02 {
    position: relative;
    .reset {
        position: absolute;
        right: 60px;
    }
    .list-control {
        position: absolute;
        top: 11px;
        right: 20px;
        padding: 7px 5px;
        &::after {
            display: block;
            content: "";
            width: 21px;
            height: 13px;
            @include backgroundImg(icon_list);
            transform: rotate(180deg);
            transition: all 0.4s;
        }
    }
    .box-contens {
        overflow: hidden;
        max-height: 0;
        padding: 0 20px !important;
        border-top: 0;
        transition: all .4s;
    }
    &.active {
        .list-control {
            &::after {
                transform: rotate(360deg);
            }
        }
        .box-contens {
            overflow: hidden;
            max-height: 331px;
            padding: 20px !important;
        }
    }
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    .btn.big {
        width: 48.5%;
        background-color: #ededed;
        >span {
            position: relative;
            display: inline;
            padding-left: 24px;
            color: $gary2;
        }
        &:hover,
        &.active {
            background-color: $green;
            >span {
                color: $white;
            }
        }
        &+.big {
            margin-left: 0;
            margin-top: 15px;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
    }
}

.device-detail {
    >span {
        @include backgroundImg(icon_device_info,
        $pos: 0 center);
        &.control-list {
            @include backgroundImg(icon_device_control_list,
            $pos: 0 center);
        }
        &.fota {
            @include backgroundImg(icon_device_fota,
            $pos: 0 center);
        }
        &.push {
            @include backgroundImg(icon_device_push,
            $pos: 0 center);
        }
        &.control {
            @include backgroundImg(icon_device_control,
            $pos: 0 center);
        }
    }
    &:hover,
    &.active {
        >span {
            @include backgroundImg(icon_device_info_on,
            $pos: 0 center);
            &.control-list {
                @include backgroundImg(icon_device_control_list_on,
                $pos: 0 center);
            }
            &.fota {
                @include backgroundImg(icon_device_fota_on,
                $pos: 0 center);
            }
            &.push {
                @include backgroundImg(icon_device_push_on,
                $pos: 0 center);
            }
            &.control {
                @include backgroundImg(icon_device_control_on,
                $pos: 0 center);
            }
        }
    }
}

.button-group .btn-right {
    display: inline-flex;
    margin-left: auto;
}

// 20190809 .btn-status  수정
.btn-status {
    display: inline-block;
    width: auto;
    min-width: 64px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    text-align: center;
    color: $white;
    font-size: 14px;
    border-radius: 13px;
}

.btn-status.save {
    background-color: #fca600;
}

.btn-status.distribute {
    background-color: $green;
}

.btn-status.end {
    background-color: #9fa69e;
}

.search {
    justify-content: center;
}

.abmn-view .column.full.search .btn.search {
    width: 140px;
    padding-left: 66px;
    background-position: 45px 56%;
    text-align: left;
    font-size: 16px;
}

.input {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
}

.input .text-view {
    width: 100%;
    min-height: 40px;
    padding: 0 10px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #dce1dc;
    border-radius: 5px;
    background-color: #f8fafb;
    color: #202020;
}

.table .text-view {
    min-height: 30px;
    line-height: 28px;
}

.radio .text-view {
    border: none;
    background: none;
}

.input.text,
.select.long {
    width: 100%;
    max-width: 350px;
}

.input.text.calendar {
    max-width: 170px;
    &.seconds {
        max-width: 185px;
    }
}

.input.text .textarea {
    overflow-y: auto;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 19px;
    resize: none;
    line-height: 22px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #dce1dc;
    text-align: left;
    background-color: $white;
    font-size: 14px;
    color: $gary2;
}

.input.text input,
.input.view {
    display: block;
    width: 100%;
    max-width: 350px;
    height: 40px;
    padding-left: 19px;
    border-radius: 8px;
    border: 1px solid #dce1dc;
    font-size: 1em;
    font-family: inherit;
    text-align: left;
    background-color: $white;
}

.input.file-add {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 480px;
    padding-right: 40px;
    &.width-380 {
        max-width: 380px !important;
    }
}

.table .input.text input {
    margin: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 9px;
}

.table .input.text input::placeholder {
    color: $gary2;
}

.abmn-view .table.type2 .view {
    width: 100%;
}

.input.view {
    >span:not(.remove) {
        display: inline-block;
        margin-left: 7px;
        line-height: 38px;
        vertical-align: middle;
        font-size: 14px;
    }
    >.remove {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 14px;
        height: 14px;
        margin-top: -6px;
        background: url(../images/icon_remove.png) no-repeat center;
        cursor: pointer;
    }
    &.file-add {
        overflow: hidden;
        width: 100%;
        max-width: 430px;
        margin-left: 10px;
        padding-right: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.input.view+.btn {
    margin-left: 10px;
}

.column>.show {
    display: inline-flex;
}

.input.text input[value] {
    color: $gary2;
}

.input.text input[disabled],
.input.text input[readonly] {
    cursor: not-allowed;
    background: #dce1dc;
    color: #202020;
}

.input.text input[readonly] {
    cursor: default;
}

.input.text input[disabled][placeholder] {
    color: $black;
}

.text input:focus,
.text input:active {
    border: 1px solid $green;
    transition: border-color 0.8s;
}

.input.text-center input {
    text-align: center;
}

.text.medium {
    width: 100%;
    max-width: 310px;
}

.text.medium2 {
    width: 100%;
    max-width: 343px;
}

.text.short {
    width: 100%;
    max-width: 150px;
}

.text.long {
    width: 100%;
    max-width: 630px;
}

.text.long2 {
    width: 100%;
    max-width: 583px;
}

.text.long3 {
    width: auto;
    min-width: 430px;
}

.text.long4 {
    width: 100%;
    min-width: 530px;
}

.text.long5 {
    max-width: 580px;
}

.text.width420 {
    width: 100%;
    min-width: 420px;
}

.select.long3 {
    width: 100%;
    min-width: 430px;
}

.select.long4 {
    width: 100%;
    max-width: 530px;
}

.select.long5 {
    width: 100%;
    max-width: 530px;
}

.text.full {
    width: 100%;
    max-width: none;
    // margin-left: 20px;
}

.text.long input,
.text.long2 input,
.text.long3 input,
.text.long4 input,
.text.long5 input,
.text.width420 input,
.select.long4 select,
.select.long5 select,
.text.medium2 input,
.text.full input {
    max-width: none;
}

.input.text .crc-data {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 10px;
    background-color: #dce1dc;
    color: $black;
}

.input.text .crc-result {
    color: #ec2b2b;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.ex-text {
    height: 40px;
    line-height: 40px;
    color: $black;
    font-size: 16px;
    margin-left: 10px;
}

.crc-data+.btn {
    margin-left: 10px;
}

.btn+.crc-result {
    margin-left: 10px;
}

.checkbox [type="checkbox"],
.radio [type="radio"] {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.checkbox>span,
.radio>span,
.checkbox .check-view {
    height: 16px;
    padding-left: 24px;
    background: url(../images/checkbox.png) no-repeat 0 50% / 16px;
    line-height: 16px;
}

.check-group-wrapper .checkbox>span {
    padding-left: 24px;
}

.checkbox input:checked+span,
.checkbox .check-view.checked {
    background: url(../images/checkbox_on.png) no-repeat 0 50% / 16px;
}

.radio>span,
.radio .check-view {
    height: 27px;
    padding-left: 24px;
    background: url(../images/radio.png) no-repeat 0 50% / 16px;
    line-height: 27px;
}

.radio input:checked+span,
.radio .check-view.checked {
    background: url(../images/radio_on.png) no-repeat 0 50% / 16px;
}

.input.radio+.input.radio {
    margin-left: 15px;
}

.radio-group-wrapper .input.radio+.input.radio,
.check-group-wrapper .input.checkbox+.input.checkbox {
    margin-left: 15px;
}

.column {
    display: flex;
    min-height: 40px;
    align-items: center;
    .right {
        display: inline-flex;
        margin-left: auto;
    }
    &.txt-top {
        align-items: flex-start;
        >.label {
            padding-top: 13px;
        }
    }
}

.column>div+div {
    margin-left: 10px;
}

.label,
.column .label {
    width: 100%;
    max-width: 130px;
    font-weight: 700;
    flex-shrink: 0;
}

.column .label.important::after {
    content: "";
    display: inline-block;
    margin-left: 0;
    width: 10px;
    height: 15px;
    background: url(../images/icon_important.png) no-repeat 0px 0;
}

.error-ms {
    font-size: 14px;
    line-height: 16px;
    color: #ec2b2b;
}


/* calendar */

.abmn-list .column.full .text.calendar {
    flex: 0 0 150px;
    margin-left: 10px;
}

.text.calendar input {
    padding-left: 42px;
    background: url(../images/bg_calendar.png) no-repeat 16px 50% / 18px;
}

.text.calendar input[value] {
    color: $black;
}

.text.calendar input[readonly] {
    background: url(../images/bg_calendar.png) no-repeat 16px 50% / 19px;
    color: $black;
}

.text.calendar+.swug {
    display: inline-flex;
    height: 40px;
    margin-left: 5px;
    vertical-align: middle;
    align-items: center;
    color: #dce1dc;
}

.swug+.text.calendar {
    margin-left: 5px;
}

.select {
    position: relative;
    display: inline-flex;
    min-width: 146px;
    height: 40px;
    background: $white;
    font-size: 0.875em;
    border: 1px solid #dce1dc;
    text-align: left;
    border-radius: 8px;
    &.small {
        height: 26px;
        min-width: 96px;
        border-radius: 10px;
        color: #999;
        border: 1px solid #d3dad3;
        .selected {
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            color: #838a82;
        }
        .select-list {
            border: 1px solid #d3dad3;
            li {
                height: 26px;
                line-height: 26px;
                font-size: 14px;
            }
        }
        &.on {
            .select-list {
                top: 25px;
                // max-height: 104px;
            }
        }
        &.revert {
            .select-list {
                top: auto;
                bottom: 25px;
            }
            &.on {
                .select-list {
                    top: auto;
                    bottom: 25px;
                    max-height: 104px;
                    opacity: 1;
                }
            }
        }
    }
}

.snb {
    >li {
        display: inline-flex;
        height: 40px;
        align-items: center;
    }
}

.snb .select {
    min-width: 75px;
    height: 40px;
    background: #434f54;
    font-size: 14px;
    border: 0;
    text-align: left;
}

.select.list-view {
    min-width: 134px;
}

.select.on {
    border-color: $green;
}

.select.on .select-list {
    visibility: visible;
    top: 38px;
    max-height: 200px;
    opacity: 1;
}

.select-list {
    visibility: hidden;
    background: $white;
}

.select-list li:hover {
    color: $green;
}

.select-list li.on {
    color: $green;
}

.select .select-list {
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 0;
    transition: opacity 0.15s;
    border: 1px solid $gary3;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 8px;
    z-index: 20;
}

.select .selected {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 38px;
    padding: 0 42px 0 20px;
    line-height: 38px;
    background-color: $white;
    background-image: url(../images/bg_select.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
    background-size: 11px 6px;
    z-index: 12;
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
    color: #5c5c5c;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.snb .select .selected {
    color: #d3dad3;
    background-color: #434f54;
}

.snb .select .select-list {
    border: 0;
    border-radius: 0;
}

.snb .on.select .select-list {
    top: 49px;
    background: #f4f6f8;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: $black;
}

.select.long .selected {
    background: $white url(../images/bg_select.png) no-repeat 95% 50% / 15px 9px;
    background: $white url(../images/bg_select.png) no-repeat calc(100% - 15px) 50% / 15px 9px;
}

.select-list li {
    overflow: hidden;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    color: #5c5c5c;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.select select {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    opacity: 0;
}

.select span {
    display: block;
    width: 100%;
    height: 100%;
    background: $white;
    line-height: 36px;
    color: #343438;
}

.revert {
    .select-list {
        top: auto;
        bottom: 25px;
    }
    &.on {
        .select-list {
            top: 25px;
            max-height: 156px;
            opacity: 1;
        }
    }
}

.search-nember {
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    @include backgroundImg(icon_search_nember,
    $pos: 0 9px);
    .icon-none {
        background: none;
        padding-left: 0;
    }
    >sub {
        font-size: 14px;
        color: #818980;
    }
    &.litter {
        height: 17px;
        line-height: 17px;
        background-position: 0 9px;
    }
}

.column .search-nember>span {
    font-weight: 600;
}

.column .search-nember+.select {
    margin-left: 10px;
}

.column+.table {
    margin-top: -10px;
}

.type3 {
    position: relative;
    .table {
        margin-top: 20px;
    }
    .btn.device {
        position: absolute;
        top: 8px;
        right: 20px;
        padding-left: 29px;
        @include backgroundImg(icon_device,
        $pos: 12px 12px);
        >span {
            position: relative;
        }
    }
}

.table-wrap {
    display: flex;
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    &.table-scroll {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -10px;
    }
    .table-Bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 43px;
        background: #f4f6f8;
        z-index: 1;
        border-top: 1px solid $gary3;
    }
    .table.row {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        min-height: calc(466px - 44px);
        max-height: calc(466px - 44px);
        margin-top: 0;
        margin-top: 42px;
        &.row-400 {
            min-height: calc(422px - 42px);
            max-height: calc(422px - 42px);
        }
        &.row-240 {
            min-height: calc(254px - 42px);
            max-height: calc(254px - 42px);
        }
        &.row-170 {
            min-height: calc(170px - 42px);
            max-height: calc(170px - 42px);
        }
        th {
            height: 0;
            padding: 0;
            background: none;
            >div {
                position: absolute;
                top: 0;
                width: inherit;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                line-height: 42px;
                z-index: 2;
                &.line {
                    border-left: 1px solid #e4e8e5;
                }
            }
        }
        tbody {
            tr {
                th {
                    &.bg {
                        background-color: #f4f6f8;
                    }
                }
            }
        }
    }
}

.table {
    margin-top: 10px;
    background: $white;
    &.scroll-x {
        overflow-x: auto;
        width: 100%;
    }
}

.table.row .no-result td {
    height: 150px;
}

.table.row .no-result:hover td,
.table.row.no-hover tr:hover td {
    background: $white;
    color: #222;
    cursor: default;
}

.table.row .bg-red td,
.body .table.row .bg-red:hover td {
    padding: 10px 5px;
    background: #f7b3b3;
}

.table.row .bg-orange td,
.body .table.row .bg-orange:hover td {
    padding: 10px 5px;
    background: #fce398;
}

.table.row th {
    background: #f4f6f8;
    color: $black;
    font-size: 14px;
    font-weight: 700;
}

.table.row td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    &.line {
        border-left: 1px solid #e4e8e5;
    }
}

.table.row th,
.table.row td {
    height: 42px;
    padding: 4px 0 5px;
    vertical-align: middle;
    text-align: center;
    &.text-disabled {
        color: $disabled;
    }
}

.table.row th {
    >div.text-disabled {
        color: $disabled;
    }
}

.table.row td a.download {
    padding-right: 21px;
    background: url(../images/file_download.png) no-repeat 100% 50% / 16px;
}

.table.row td.text-left {
    text-align: left;
    padding: 0 20px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.table.row table {
    border-top: 1px solid $gary3;
}

.table.row tbody {
    border-top: 1px solid $gary3;
    border-bottom: 1px solid $gary3;
}

.table.row tbody tr {
    border-bottom: 1px solid $gary3;
}

.table.row tbody tr:hover {
    cursor: pointer;
    background: #f7faf1;
}

.table.row tbody tr:hover td a.download {
    background: url(../images/file_download_hover.png) no-repeat 100% 50% / 16px;
}

.table.row tbody tr.none:hover td {
    color: #232425;
    background: $white;
}

.table.row .btn {
    width: auto;
    height: 26px;
    margin: 0 auto;
    line-height: 24px;
}

.table {
    &.col {
        margin: 0;
        padding: 0;
        border-radius: 10px;
        tr {
            border-bottom: 1px solid $border-base;
            th {
                background-color: #eaeef1;
                padding: 15px 5px;
                text-align: center;
            }
            td {
                padding: 5px 5px 5px 20px;
                font-size: 14px;
            }
            &:first-child>th:first-child {
                border-radius: 10px 0 0 0;
            }
            &:last-child>th:first-child {
                border-radius: 0 0 0 10px;
            }
        }
        &.all-border {
            border: 1px solid $gary3;
            tr {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
        &.small {
            border-top: 1px solid $border-base;
            tr {
                th {
                    padding: 12px 5px;
                    background-color: #eaeaef
                }
                td {
                    padding: 12px 5px 12px 20px;
                    font-size: 14px;
                }
            }
        }
        &.scroll {
            overflow-y: auto;
            height: auto;
            max-height: 206px;
        }
    }
}

.abmn-view .table.type2 .input input {
    height: 40px;
    line-height: 38px
}

.abmn-view .table.type2 .input.long {
    width: 742px;
    max-width: none
}

.abmn-view .table.type2 .input.long input {
    max-width: none
}

.abmn-view .table.type2 .input.search {
    width: 100%;
    max-width: 407px
}

.abmn-view .table.type2 .input.search .btn {
    width: 23px
}

.abmn-view .table.type2 .column {
    padding: 0
}

.abmn-view .table.type2 tr+tr th,
.abmn-view .table.type2 tr+tr td {
    border-top: 1px solid $gary3
}

.popup-bottom .paging {
    padding-bottom: 10px;
}

.table .paging {
    padding-bottom: 10px;
}

.paging-wrapper {
    position: relative;
}

.paging {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 0 0;
    align-items: center;
    justify-content: center;
}

.paging>span {
    display: inline-flex;
    overflow: hidden;
    border-radius: 4px;
}

.paging a {
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid #edeff0;
    text-align: center;
    background-color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 6px;
}

.paging>span a:hover {
    color: $black;
    background: #d3dad3;
    border-color: #d3dad3;
}

.paging>span a.on {
    color: $white;
    background: $green;
    border-color: $green;
}

.paging a+a {
    margin-left: 2px;
}

.paging .control {
    margin-right: 2px;
    background-image: url(../images/paging_db_prev.png);
    background-repeat: no-repeat;
    text-indent: -9999em;
    background-position: 6px 8px;
}

.paging .control.prev {
    margin-right: 12px;
    background-image: url(../images/paging_prev.png);
    background-position: 5px 8px;
}

.paging .control.next {
    margin-left: 12px;
    background-image: url(../images/paging_next.png);
    background-position: 6px 8px;
}

.paging .control.db-next {
    background-image: url(../images/paging_db_next.png);
    background-position: 6px 8px;
}


/* search-box */

.abmn-list .label {
    margin-bottom: 12px;
}

.abmn-list .box.search-area,
.abmn-view .box.search-area {
    display: flex;
    flex-wrap: wrap;
}

.abmn-view .box.search-area.two,
.contents .box.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.abmn-view .box.search-area.two .column,
.contents .box.two .column {
    width: 720px;
}

.abmn-view .box.search-area.two .column+.column.even,
.contents .box.two .column+.column.even {
    // margin-left: 80px;
}

.abmn-view .box.search-area.three .column,
.contents .box.three .column {
    width: 477px;
}

.abmn-view .box.search-area.three .column+.column,
.contents .box.three .column+.column {
    margin-left: 40px;
}

.abmn-view .box.search-area.three .column:nth-child(4n),
.contents .box.three .column:nth-child(4n) {
    margin-left: 0;
}

.contents .box.menu {
    height: calc(100% - 50px);
    display: flex;
    position: relative;
    overflow: auto;
}

.abmn-view .box.search-area.three .column .input {
    width: 100%;
}

.abmn-view .box.search-area.three .column.middle {
    width: 1006px;
}

.abmn-view .box.search-area.three .column.full,
.contents .box.three .column.full,
.contents .box.two .column.full {
    width: 100%;
    margin-left: 0;
}

.abmn-view .search-area .column,
.contents .box.two .column,
.contents .box.three .column {
    display: inline-flex;
    margin-bottom: 20px;
    flex-direction: row;
}

.contents .box.full .column {
    margin-bottom: 20px;
}

.contents .box.three .column:last-child,
.contents .box.search-area.two .column.full.flex {
    margin-bottom: 10px;
}

.abmn-view .search-area .column.column-btn {
    margin-bottom: 10px;
}

.abmn-view .box.search-area .column .select {
    width: calc(100% - 130px);
    margin-left: 10px;
}

.abmn-view .box.search-area .column.search {
    justify-content: center;
    margin-left: 0;
}

.abmn-view .box .column+.column.search {
    margin-top: 0;
}

.abmn-view .column.middle .text.long {
    width: 100%;
    max-width: 866px;
}

.abmn-view .box.search-area .column .select.middle {
    width: 100%;
    max-width: 160px;
}


/* graph */

.status-graph {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.status-graph .graph-data+.graph-number {
    margin-left: 10px;
}

.status-graph .line {
    overflow: hidden;
    float: left;
    width: 130px;
    height: 6px;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: rgba(252, 166, 0, 0.16);
}

.graph-number {
    float: left;
    color: #fca600;
}

.status-graph .line.green+.graph-number {
    color: $green;
}

.status-graph .line.gray+.graph-number {
    color: #9fa69e;
}

.status-graph .line+.graph-number {
    margin-left: 9px;
}

.status-graph .line.green {
    background-color: rgba(143, 195, 31, 0.16);
}

.status-graph .line.gray {
    background-color: rgba(159, 166, 158, 0.16);
}

.status-graph .line .line-color {
    width: 0;
    height: 100%;
    transition: width 0.5s ease-in 0.1s;
    background-color: #fca600;
}

.status-graph .line.green .line-color {
    background-color: $green;
}

.status-graph .line.gray .line-color {
    background-color: #9fa69e;
}

.status-graph .graph-number+.status-text {
    margin-top: 3px;
}

.status-text {
    display: block;
    float: left;
    width: 100%;
    max-width: 180px;
    padding-right: 50px;
    text-align: center;
    font-size: 12px;
    color: $gary2;
}

// dashboard
.dashboard {
    &.contents {
        .box-left,
        .box-right {
            position: relative;
        }
        .box.full {
            .reset {
                top: 13px;
                right: 14px;
            }
        }
        .reset {
            top: 2px;
            right: 8px;
        }
        button[data-select="productRegistration"],
        button[data-select="filterReplacement"] {
            background-color: #444f55;
            border: 1px solid #444f55;
        }
        .layout-accrodion-box {
            .select {
                &.on {
                    .select-list {
                        top: 28px;
                    }
                }
                .selected {
                    height: 28px;
                    line-height: 28px;
                }
            }
        }
        .box {
            .city-box {
                padding: 0 20px;
                .column {
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 12px;
                    margin-bottom: 0;
                    padding: 10px 0 10px;
                    &:first-child {
                        padding-top: 0;
                        border-top: 0;
                    }
                    .list-wrap {
                        width: calc(100% - 280px);
                        margin-left: 20px;
                        .title {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 5px;
                            .top5 {
                                height: 32px;
                                line-height: 32px;
                                padding-left: 15px;
                                @include backgroundImg(icon_arrow,
                                $pos: 0 10px);
                            }
                        }
                        .list {
                            >ul {
                                display: flex;
                                justify-content: space-between;
                                li {
                                    display: flex;
                                    align-items: center;
                                    width: calc(20% - 10px);
                                    padding: 18px 17px 17px;
                                    border: 1px solid #d3dad3;
                                    border-radius: 10px;
                                    &:nth-child(1) {
                                        .ranking {
                                            background-color: $green;
                                        }
                                    }
                                    .ranking {
                                        position: relative;
                                        width: auto;
                                        min-width: 30px;
                                        height: 30px;
                                        line-height: 30px;
                                        margin-right: 38px;
                                        font-size: 18px;
                                        text-align: center;
                                        border-radius: 15px;
                                        background-color: #9fa69e;
                                        color: $white;
                                        &::after {
                                            content: "";
                                            display: inline-block;
                                            position: absolute;
                                            top: 0;
                                            left: 47px;
                                            width: 1px;
                                            height: 33px;
                                            background-color: #d3dad3;
                                        }
                                    }
                                    .list-amount {
                                        display: inline-block;
                                        .country {
                                            line-height: 14px;
                                            color: #333;
                                            font-size: 14px;
                                        }
                                        .number {
                                            margin-top: 2px;
                                            line-height: 30px;
                                            font-size: 24px;
                                            font-weight: 700;
                                            letter-spacing: -0.2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .city-accordion-wrapper {
                    &.active {
                        .city-accordion {
                            display: block;
                            transition: width 2s, height 2s;
                            &+.button-group {
                                button.city {
                                    position: relative;
                                    >span {
                                        &::before {
                                            display: block;
                                            content: "";
                                            position: absolute;
                                            left: 0;
                                            top: 14px;
                                            width: 15px;
                                            height: 15px;
                                            @include backgroundImg(icon_city_close);
                                            transform: rotate(360deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .city-accordion {
                        display: none;
                        transition: width 4s, height 4s;
                        .column {
                            border-top: 1px solid #e9ece9;
                            &:first-child {
                                padding-top: 10px;
                            }
                        }
                        &+.button-group {
                            margin: 10px 0 30px;
                            button.city {
                                position: relative;
                                >span {
                                    width: auto;
                                    padding-left: 23px;
                                    &::before {
                                        display: block;
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 14px;
                                        width: 15px;
                                        height: 15px;
                                        @include backgroundImg(icon_city_open);
                                        transform: rotate(360deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .box {
        &.graph-box {
            position: relative;
            .point {
                position: absolute;
                top: 20px;
                left: 20px;
            }
            .left {
                position: absolute;
                top: 20px;
                left: 20px;
            }
            .right {
                position: absolute;
                top: 20px;
                right: 20px;
                &.top-6 {
                    top: 6px;
                }
                .vertical-box {
                    display: flex;
                    align-items: baseline;
                    .select {
                        &+.btn {
                            margin-left: 7px;
                        }
                    }
                }
            }
        }
        &.type4 {
            .column {
                padding: 20px;
            }
            &.basic {
                margin-bottom: 0;
            }
            .right {
                position: absolute;
                right: 20px;
                top: 52px;
            }
        }
    }
    .column {
        &.width-726 {
            width: 100%;
            max-width: 726px;
        }
        &.width-706 {
            width: 100%;
            max-width: 706px;
        }
        &.height-350 {
            height: 320px;
        }
    }
    .select {
        &.width-100 {
            min-width: 98px;
        }
        &.small {
            height: 30px;
            line-height: 30px;
        }
    }
}

.country-wrap {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-width: 260px;
    max-width: 260px;
    height: 112px;
    margin-top: 9px;
    padding: 10px 20px 20px;
    border-radius: 10px;
    background-color: #eaeef1;
    img {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

.total-data {
    position: absolute;
    top: 200px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 201px;
    height: 100px;
    margin-left: -100px;
    border-radius: 105px 105px 0 0;
    .number {
        margin-top: 24px;
        line-height: 33px;
        color: $green;
        font: {
            size: 24px;
            weight: 600;
            color: $black;
        }
    }
    .text {
        line-height: 25px;
        font-size: 14px;
    }
}

.country-name {
    padding-top: 9px;
    font-size: 14px;
}

.total-amount {
    display: block;
    margin-top: 15px;
    .text {
        width: calc(100% - 70px);
        line-height: 14px;
        color: #818980;
        font-size: 12px;
        &.type02 {
            font-size: 14px;
            color: #333;
        }
    }
    .number {
        margin-top: 5px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 700;
    }
}

body.popup {
    width: auto;
    .popup-wrapper {
        >div {
            min-width: 960px;
            max-width: 1070px;
            width: 100%;
        }
        .line {
            height: 1px;
            background-color: #e8eceb;
            width: 100%;
        }
        .popup-title {
            position: relative;
            height: 60px;
            padding-left: 20px;
            line-height: 60px;
            background: $green;
            text-align: left;
            >p {
                font-size: 20px;
                color: $white;
            }
        }
        .popup-top {
            padding-top: 22px;
            .contents {
                padding: 0 20px;
                width: 100%;
                min-width: 960px;
                border: 0;
                .box {
                    box-shadow: none;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    &.two {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .column {
                            width: calc(50% - 20px);
                            &.even {
                                margin-left: 40px;
                            }
                            &.full {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &.padding-top0 {
                padding-top: 0;
            }
            &+.popup-bottom {
                margin-top: 0;
                .table {
                    margin-top: 0;
                }
            }
        }
        .table-Bg {
            z-index: 1;
            background-color: #f4f6f8;
        }
        .table {
            &.col {
                tr {
                    &:first-child {
                        >th:first-child {
                            border-radius: 0;
                        }
                    }
                }
                &.pop-small {
                    thead {
                        th {
                            height: 0;
                            padding: 0;
                            background: none;
                            >div {
                                position: absolute;
                                top: 0;
                                width: inherit;
                                font-size: 14px;
                                color: #333;
                                font-weight: 700;
                                line-height: 40px;
                                z-index: 2;
                            }
                        }
                    }
                    tbody {
                        tr {
                            th {
                                &.bg {
                                    background-color: #f4f6f8;
                                    color: $black;
                                }
                            }
                            th,
                            td {
                                height: 40px;
                                vertical-align: middle;
                                padding: 6px;
                                text-align: center;
                                font-size: 14px;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
            &.scroll {
                overflow-x: hidden;
                overflow-y: auto;
                height: 100%;
                min-height: 240px;
                max-height: 241px;
                margin-top: 40px;
                padding-top: 0;
            }
        }
        .popup-bottom {
            margin-top: 20px;
            padding: 0 20px 20px;
            .table {
                background: $white;
                &.row {
                    td {
                        padding: 4px 5px 5px;
                    }
                }
            }
            .alert-box {
                position: relative;
                width: 100%;
                border-radius: 20px;
                padding: 11px 20px 12px 43px;
                @include backgroundImg(icon_close,
                $pos: right 13px);
                &.success {
                    @include backgroundImg(icon_success,
                    $pos: 18px 13px);
                    background-color: #eff4e3;
                    >span {
                        color: $green;
                    }
                }
                &.fail {
                    @include backgroundImg(icon_fail,
                    $pos: 18px 13px);
                    background-color: #fdecec;
                    >span {
                        color: $red;
                    }
                }
                >span {
                    font-size: 14px;
                    line-height: 16px;
                }
                .close {
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    width: 11px;
                    height: 11px;
                    @include backgroundImg(icon_close,
                    $pos: left 0);
                }
                &+.table-wrap {
                    margin-top: 10px;
                }
            }
            .table-wrap {
                .row-240 {
                    margin-top: 42px;
                }
            }
        }
        .button-group {
            &.center {
                justify-content: center;
            }
        }
    }
}

// header
.header-box {
    display: none;
    position: absolute;
    width: auto;
    right: -20px;
    top: 36px;
    min-width: 315px;
    text-align: left;
    background: #fff;
    z-index: 20;
    .title-box {
        position: relative;
        padding: 0 20px;
        line-height: 40px;
        color: $black;
        font-size: 16px;
        border-radius: 10px 10px 0 0;
        background-color: #f4f6f8;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
        .title {
            padding-right: 20px;
            color: $black;
            font-weight: 600;
        }
        .number {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            line-height: 19px;
            color: $white;
            font-size: 12px;
            text-align: center;
            border-radius: 12px;
            background-color: #8fc31f;
        }
    }
    a.close {
        position: absolute;
        width: 13px;
        height: 13px;
        top: 15px;
        right: 19px;
        padding: 0;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            width: 13px;
            height: 13px;
            @include backgroundImg(icon_header_title_close);
        }
    }
    .con-scroll {
        overflow-y: auto;
        max-height: 384px;
    }
    .con-box {
        position: relative;
        padding: 13px 21px 13px 21px;
        &:last-child {
            border-radius: 0 0 10px 10px;
        }
        a.close {
            &::before {
                @include backgroundImg(icon_header_con_close);
            }
        }
        .title {
            padding-left: 20px;
            line-height: 18px;
            font-size: 14px;
            letter-spacing: 0.5px;
        }
        .con {
            margin-top: 4px;
            font-size: 12px;
            color: $black;
            .list {
                margin-bottom: 5px;
                li {
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0;
                    &+li {
                        margin-top: 4px;
                    }
                    dl {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        dt,
                        dd {
                            font-size: 12px;
                            line-height: 16px;
                        }
                        dd {
                            margin-left: auto;
                            width: calc(100% - 44px);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        .detail {
            display: flex;
            line-height: 13px;
            .data {
                color: $gary2;
                font-size: 12px;
                line-height: 21px;
            }
        }
        .link {
            margin-left: auto;
            a {
                display: inline-block;
                color: #434f54;
                line-height: 16px;
                font: {
                    size: 12px;
                    weight: 400;
                }
                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    background-color: $black;
                }
                &+a {
                    margin-left: 7px;
                }
                &.view {
                    position: relative;
                    padding-right: 10px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: 0;
                        width: 6px;
                        height: 8px;
                        @include backgroundImg(icon_head_arrow);
                    }
                }
            }
        }
        &+.con-box {
            border-top: 1px solid rgba(211, 218, 211, 0.4);
        }
    }
    .error {
        background-color: rgba(249, 68, 57, 0.05);
        .title {
            @include backgroundImg(icon_error,
            $pos: 0 2px);
            color: rgba(249, 68, 57, 1);
        }
    }
    .warning {
        background-color: rgba(253, 173, 2, 0.05);
        .title {
            @include backgroundImg(icon_warning,
            $pos: 0 2px);
            color: rgba(253, 173, 2, 1);
        }
    }
    .info {
        background-color: rgba(1, 167, 253, 0.05);
        .title {
            @include backgroundImg(icon_info,
            $pos: 0 2px);
            color: rgba(1, 167, 253, 1);
        }
    }
}

@for $width from 0 through 100 {
    .width#{$width} {
        width: $width+0% !important;
    }
}

// system log
.system-log {
    .contents-title {
        &.with-button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .button {
                width: 110px;
                height: 30px;
                margin-left: 10px;
                border-radius: 10px;
                >span {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                }
                &:nth-of-type(1) {
                    background-color: #fca600;
                }
                &:nth-of-type(2) {
                    background-color: #444f55;
                }
            }
        }
    }
    .inner-box {
        padding: 20px;
        .column {
            margin-bottom: 20px;
        }
        .table-wrap {
            margin-top: 20px;
        }
    }
    .button {
        display: block;
    }
    .btn {
        &.search.normal {
            margin-left: 20px;
            padding: 0;
            background-image: none;
            >span {
                width: auto;
                padding-left: 28px;
                background: url(../images/icon_search.png) no-repeat left center / 16px;
            }
        }
    }
    .icon {
        &.download {
            width: 13px;
            min-width: 0;
            height: 15px;
            margin: {
                top: 0;
                left: 10px;
                right: 0;
                bottom: 0;
            }
            padding: 0;
            border:none;
            background: url(../images/icon_download.png) no-repeat center / 13px auto;
        }
    }
    .textarea {
        overflow: hidden;
        width: 100%;
        textarea {
            display: block;
            width: 100%;
            margin: 0;
            height: 26px;
            padding: 0 4px;
            border-radius: 8px;
            background: #fff;
            outline: none;
            font-size: 14px;
            line-height: 24px;
            border: 1px solid #d3dad3;
            resize: vertical;
            box-sizing: border-box;
        }
    }
    .table {
        &.scroll-auto {
            overflow: auto;
            min-height: 42px;
            max-height: 170px;
            margin-top: 42px;
        }
        th>div {
            background-color: #f4f6f8
        }
    }
    .icon-link {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../images/icon_link.png) no-repeat center / 18px;
    }
}

// system-resource
.system-resource {
    .box-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box {
        &:not(.full) {
            max-width: calc((100% - 20px) / 2);
            flex: {
                basis: calc((100% - 20px) / 2);
                grow: 0;
                shrink: 0;
            }
        }
        &.full {
            flex: {
                basis: 100%;
                grow: 0;
                shrink: 0;
            }
        }
    }
    .inner-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        .column :first-child {
            margin-left: 0;
        }
        .select {
            min-width: 156px;
        }
        .select,
        .input {
            margin-left: 10px;
        }
    }
    .search-nember {
        flex-basis: 100%;
        margin: 20px 0;
    }
    .column {
        width: 100%;
        .auto {
            flex: {
                shrink: 0;
                grow: 1;
                basis: 100%;
            }
            max-width:404px;
            input {
                max-width: none;
            }
        }
        +.column {
            margin-top: 10px;
        }
        .btn.search {
            margin-left: 10px;
        }
        .calendar {
            max-width: 282px;
        }
    }
    .header-box {
        display: block;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        z-index: 0;
        .con-scroll {
            max-height: 309px;
        }
        dd {
            padding-right: 130px
        }
        .detail {
            position: absolute;
            right: 20px;
            bottom: 13px;
        }
    }
    .table {
        &.scroll-auto {
            min-height: 42px;
            max-height: 296px;
            &.type2 {
                max-height: 212px;
            }
        }
        th>div {
            background-color: #f4f6f8
        }
        small {
            display: block;
            font-size: 12px;
        }
    }
    .box-column {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .box {
            flex-basis: calc((100% - 20px) / 2);
            flex-grow: 1;
            flex-shrink: 0;
            box-shadow: none;
            border-color: #d3dad3
        }
    }
    .icon-link {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../images/icon_link.png) no-repeat center / 18px;
    }
}