.accordion-section {
    border-top: 3px solid $gray;
    .accordion-set {
        width: 100%;
        &.active {
            >.accordion {
                >.question {
                    color: $skyblue;
                    &::after {
                        transform: rotate(360deg);
                    }
                }
            }
            .accordion-toggle {
                max-height: 100vh;
                overflow: auto;
            }
        }
        .accordion-toggle {
            max-height: 0;
            overflow: hidden;
            border: 1px solid #e3e8e5;
            border-top: 0;
            border-bottom: 0;
            transition: all ease-in-out .4s;
        }
    }
    .accordion {
        display: flex;
        position: relative;
        transition: all .5s;
        border-bottom: 1px solid $gray;
        .question {
            width: 100%;
            margin: 30px 7%;
            padding-right: 26px;
            font-size: 1.5em;
            line-height: 1.2em;
            padding-left: 40px;
            font-weight: 500;
            color: $black;
            &::before {
                content: "Q.";
                position: absolute;
                left: 7%;
                top: 29px;
                padding-right: 16px;
                font-weight: 500;
                color: $darkgray;
            }
            &::after {
                display: block;
                content: "";
                width: 23px;
                height: 15px;
                position: absolute;
                right: 7%;
                top: 44%;
                margin-top: -3px;
                @include backgroundImg(arrow_arrcodion);
                background-size: 100%;
                transform: rotate(180deg);
            }
        }
        .answer {
            display: flex;
            width: 100vw;
            padding: 30px 7%;
            background-color: #f5f5f5;
            &::before {
                content: "A.";
                padding-right: 16px;
                font-size: 1.5em;
                line-height: 1.3em;
                color: $black;
                font-weight: 500;
            }
            >div {
                font-size: 1.3em;
                line-height: 1.38em;
                .answer-title {
                    color: $black;
                    font-weight: 500;
                    &+.answer-con {
                        margin-top: 10px;
                    }
                }
                .answer-con {
                    line-height: 1.4em;
                    color: $text-color;
                    font-weight: 400;
                    &+.answer-title {
                        margin-top: 30px;
                    }
                }
            }
        }
        .col {
            padding: 10px 0;
            flex: 1 1 auto;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            color: $black;
            border-bottom: 1px solid #e3e8e5;
        }
    }
}