@charset 'UTF-8';

/* roboto-100 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v19-latin-100.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/roboto-v19-latin-100.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v19-latin-100.woff2') format('woff2'), url('../fonts/roboto-v19-latin-100.woff') format('woff'), url('../fonts/roboto-v19-latin-100.ttf') format('truetype'), url('../fonts/roboto-v19-latin-100.svg#Roboto') format('svg');
}


/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v19-latin-300.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v19-latin-300.woff2') format('woff2'), url('../fonts/roboto-v19-latin-300.woff') format('woff'), url('../fonts/roboto-v19-latin-300.ttf') format('truetype'), url('../fonts/roboto-v19-latin-300.svg#Roboto') format('svg');
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v19-latin-regular.eot');
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), url('../fonts/roboto-v19-latin-regular.woff') format('woff'), url('../fonts/roboto-v19-latin-regular.ttf') format('truetype'), url('../fonts/roboto-v19-latin-regular.svg#Roboto') format('svg');
}


/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v19-latin-500.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v19-latin-500.woff2') format('woff2'), url('../fonts/roboto-v19-latin-500.woff') format('woff'), url('../fonts/roboto-v19-latin-500.ttf') format('truetype'), url('../fonts/roboto-v19-latin-500.svg#Roboto') format('svg');
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v19-latin-700.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v19-latin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v19-latin-700.woff2') format('woff2'), url('../fonts/roboto-v19-latin-700.woff') format('woff'), url('../fonts/roboto-v19-latin-700.ttf') format('truetype'), url('../fonts/roboto-v19-latin-700.svg#Roboto') format('svg');
}


/* roboto-900 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v19-latin-900.eot');
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v19-latin-900.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v19-latin-900.woff2') format('woff2'), url('../fonts/roboto-v19-latin-900.woff') format('woff'), url('../fonts/roboto-v19-latin-900.ttf') format('truetype'), url('../fonts/roboto-v19-latin-900.svg#Roboto') format('svg');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    color: #666;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1em;
    width: 100%;
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

a {
    text-decoration: none;
    color: inherit
}

input,
button {
    margin: 0;
    padding: 0 10px;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
    text-align: center;
    -webkit-appearance: none
}

label {
    display: inline-block;
    vertical-align: middle
}

button {
    cursor: pointer;
}

img {
    vertical-align: top
}

address {
    font-style: normal
}

textarea {
    resize: none;
    font-family: inherit;
    outline: none
}