@charset "utf-8";
@import "color";
@import "mixin";
@import "mobileaccordion";
.mobile-wrapper {
    background-color: $white;
}

.mobile-contents {
    padding: 20px 10%;
}

.section {
    color: $text-color;
    font-size: 1.3em;
    line-height: 1.4em;
    &+.section {
        margin-top: 8%;
    }
    h3.title {
        &.type01 {
            color: $black;
            font-weight: 500;
        }
        &+.content {
            margin-top: 8%;
        }
    }
    .content {
        margin-top: 6%;
    }
    .text {
        &+.text {
            margin-top: 6%;
        }
        span {
            color: #03a6df;
        }
    }
}